.logo {
  width: 159px;
  height: 29px;
  margin: 0px 20px;
}

.avatar {
  width: 44px;
  margin: 4px;
}

.icon {
  width: 25px;
  height: 25px;
}

.icon-container {
  border: 1px solid #d4d3d3;
  border-radius: 6px;
  padding: 3px 8px;
  margin: 0px 3px;
}
